<div class="p-3 text-white">
  <!-- Header -->
  <div class="d-flex justify-content-between mb-2">
    <div class="d-flex gap-2">
      <button
        class="btn btn-primary btn-sm"
        *ngIf="disableInput"
        (click)="onEdit()"
      >
        Edit
      </button>
      <button
        class="btn btn-success btn-sm"
        *ngIf="!disableInput"
        (click)="onSave()"
      >
        Save
      </button>
      <button
        class="btn btn-secondary btn-sm"
        *ngIf="!disableInput"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
    <h5>Password 1</h5>
    <div>
      <button
        class="btn btn-danger btn-sm"
        *ngIf="!isNewMode"
        (click)="onDelete()"
      >
        <i class="bi bi-trash"></i>
      </button>
    </div>
  </div>

  <!-- Nickname -->
  <div class="form-floating mb-2">
    <input
      type="text"
      class="form-control text-white"
      id="nickname"
      placeholder="Nickname"
      [(ngModel)]="password.nickname"
      [disabled]="disableInput"
    />
    <label for="nickname" class="text-white">Nickname</label>
  </div>

  <!-- Username -->
  <div class="form-floating mb-2">
    <input
      type="text"
      class="form-control text-white"
      id="username"
      placeholder="Username"
      [(ngModel)]="password.username"
      [disabled]="disableInput"
    />
    <label for="username" class="text-white">Username</label>
  </div>

  <!-- Password -->
  <div class="form-floating mb-2">
    <input
      type="password"
      class="form-control text-white"
      id="password"
      placeholder="Password"
      [(ngModel)]="password.password"
      [disabled]="disableInput"
    />
    <label for="password" class="text-white">Password</label>
  </div>

  <!-- Website -->
  <div class="form-floating mb-2">
    <input
      type="text"
      class="form-control text-white"
      id="website"
      placeholder="Website"
      [(ngModel)]="password.website"
      [disabled]="disableInput"
    />
    <label for="website" class="text-white">Website</label>
  </div>

  <!-- Info -->
  <div class="form-floating">
    <textarea
      class="form-control text-white"
      placeholder="Additional Information"
      id="info"
      style="height: 150px"
      [(ngModel)]="password.info"
      [disabled]="disableInput"
    ></textarea>
    <label for="info">Additional Information</label>
  </div>
</div>
