<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <!-- <app-form-demo></app-form-demo> -->
      <app-reactive-form></app-reactive-form>
      <!-- <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink=""
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="servers"
            >Servers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['users']"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
      <hr /> -->
      <!-- <h1 *ngIf="isActivated">Activated!</h1>
      <p>Default: {{ myDate }}</p>
      <p>Date with pipe: {{ myDate | date }}</p>
      <p>Date with pipe: {{ myDate | date: "fullDate" | uppercase }}</p>
      <p>Date with pipe: {{ myDate | date: "MM-dd-yy" }}</p>
      <br />
      <br />
      <br />
      <p>{{ "hello world" | uppercase }}</p>
      <p>{{ "hello world" | lowercase }}</p>
      <p>{{ "hello world" | titlecase }}</p>
      <br />
      <br />
      <br />
      <p>{{ 5000 | currency: "EUR":"code" }}</p> -->

      <!-- <br />
      <div *ngFor="let item of items | async">
        {{ item.title }}
      </div> -->
    </div>
  </div>
</div>
