<div class="row g-0" style="height: 100vh">
  <div class="col-3">
    <div
      class="d-flex flex-column flex-shrink-0 p-3 text-white h-100"
      style="background: #14191e"
    >
      <!-- Search Bar -->
      <div class="d-flex gap-2 justify-content-between mb-2">
        <input
          type="text"
          placeholder="Search"
          class="form-control"
          style="background: #252a30 !important"
          [(ngModel)]="term"
          (input)="search()"
        />
        <button class="btn-primary btn-sm" routerLink="new">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

      <!-- Password List -->
      <ul class="nav nav-pills flex-column mb-auto gap-2">
        <li
          class="nav-item"
          style="background: #252a30"
          *ngFor="let password of searchedPasswords"
        >
          <a
            class="nav-link text-white"
            routerLinkActive="active"
            [routerLink]="[password.id]"
          >
            <div class="fw-bold">{{ password.nickname }}</div>
            <div>{{ password.username }}</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
